*.la
*.lo
Makefile.*
!.gitignore
!icache
!iris
!cache.c
!iris.c
!LICENSE
!README.md
!callin.h
!cdzf.h
!iris-callin.h
!iris-cdzf.h
!config.m4
!libiris.so
!libirist.so
!libcache.so
!libcachet.so
!php_cache.h
!php_iris.h
!test.php
!include/*
!cache.so
!iris.so
!php/module/*
